---
title: 'About'
description: 'Meta description for the page'
preloadImg: '/assets/images/gojyunotower.jpg'
permalink: 'about/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">About Us</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/gojyunotower-m.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/gojyunotower.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/gojyunotower.jpg" alt="5 layer tower + Mt. Fuji" loading="eager" width="2500" height="1667">
        </picture>

    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/gojyunotower-m.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/gojyunotower.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/gojyunotower.jpg" alt="5 layer tpwer + Mt. Fuji" loading="lazy" width="400" height="563">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/kami-higher.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/kami-higher.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/kami-higher.jpg" alt="in the forest" loading="lazy" width="400" height="563">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">About Us</span>
                <h2 class="cs-title">About Shons Web Design</h2>
                <p class="cs-text">
                    Founded by Shon himself on January of 2024, and giving jobs to more than -1 people in the world. Proudly serving the world since 2024 A.D. We don't have dreams, dreams are what we see in our sleep. We call it our ambitions.
                </p>
                <p class="cs-text">
                    Pursuing structured, intuitive pages and components, and a clean aesthetic, all hand-coded, no page builders. We focus on the website so you can focus on what you want to spend your time on.
                </p>
                <div class="cs-flex-group">
                    <p class="cs-flex-p">
                        Born and raised in LA, hobbies include music, movies, and moving around. Started to read about Buddhism in his own time.
                    </p>
                    <span class="cs-name">Sean Fujiwara</span>
                    <span class="cs-job">CEO-Founder</span>
                    <img class="cs-quote-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg" alt="gavel" width="136" height="77">
                </div>
                <a href="/projects" class="cs-button-solid">Our Projects</a>
            </div>
        </div>
    </section>

    {% include 'components/cta.html' %}

{% endblock %}