---
title: 'Projects'
description: 'Meta description for the page'
preloadImg: '/assets/images/myanten.jpg'
permalink: 'projects/'
eleventyNavigation:
    key: Projects
    order: 300
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/projects.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Our Projects</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/myanten-m.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/myanten.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/myanten.jpg" alt="Myanmar temple" loading="eager" width="2500" height="1667">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                   Gallery                    -->
    <!-- ============================================ -->

    <section id="gallery">
        <div class="cs-container">
            <div class="cs-image-group">
                <!-- Row 1-->
                <div class="cs-row cs-row-1">
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port1-ootorii-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port1-ootorii.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port1-ootorii.jpg" alt="Miyajima Ootorii" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port4-cave-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port4-cave.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port4-cave.jpg" alt="cave with light" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port7-sunset-star-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port7-sunset-star.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port7-sunset-star.jpg" alt="sunset stars" loading="lazy" width="400" height="560">
                    </picture>
                </div>
                <!-- Row 2 -->
                <div class="cs-row cs-row-2">
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port2-pastel-sky-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port2-pastel-sky.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port2-pastel-sky.jpg" alt="pastel sky" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port5-buddha-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port5-buddha.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port5-buddha.jpg" alt="Kamakura Buddha" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port8-valley-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port8-valley.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port8-valley.jpg" alt="valley with mountains and water" loading="lazy" width="400" height="560">
                    </picture>
                </div>
                <!-- Row 3 -->
                <div class="cs-row cs-row-3">
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port3-water-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port3-water.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port3-water.jpg" alt="water drop" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port6-shooting-star-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port6-shooting-star.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port6-shooting-star.jpg" alt="shooting star" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port9-ancestral-plane-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port9-ancestral-plane.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port9-ancestral-plane.jpg" alt="ancestral plane" loading="lazy" width="400" height="560">
                    </picture>

                </div>
            </div>
            <a href="/contact" class="cs-button-solid">Find Out More</a>
        </div>
    </section>

    {% include 'components/cta.html' %}

{% endblock %}