---
title: 'Pixel Perfect Websites'
description: 'Meta description for the page'
preloadImg: '/assets/images/galaxies.jpg'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    Hero                      -->
    <!-- ============================================ -->

    <section id="hero">
        <div class="cs-container">
            <div class="cs-flex-group">
                <span class="cs-topper">welcome to my website</span>
                <h1 class="cs-title">Explore the World</h1>
                <p class="cs-text">
                    Tincidunt lobortis feugiat vivamus at augue eget arcu dictum varius. Nibh tortor id aliquet lectus proin nibh condimentum.
                </p>
                <a href="/about" class="cs-button-solid">Explore More</a>
                <a href="/contact" class="cs-button-transparent">
                    <img
                    class="cs-img"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Hero/play.svg"
                    alt="play icon"
                    width="17"
                    height="17" />
                    Get in Touch
                </a>
            </div>
        </div>

        <!-- Background Image -->
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="/assets/images/galaxies-m.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/galaxies.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/galaxies.jpg" alt="new home" width="2500" height="1667" loading="eager">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                  Services                    -->
    <!-- ============================================ -->

    <section id="services" class="services">
        <!-- Get Icons From flaticon.com -->
        <div class="card">
            <picture>
                <img
                aria-hidden="true"
                decoding="async"
                src="/assets/svgs/service1.svg"
                alt="appliance"
                width="48"
                height="48" />
            </picture>
            <h2>Web Development</h2>
            <p>Offering web development in the shape of site creation and maintenance.</p>
        </div>
        <div class="card">
            <picture>
                <img
                aria-hidden="true"
                decoding="async"
                src="/assets/svgs/service3.svg"
                alt="appliance"
                width="48"
                height="48" />
            </picture>
            <h2>Application</h2>
            <p>Web application development, looking to expand to deploying fully functional Web/Desktop and Mobile applications.</p>
        </div>
        <div class="card">
            <picture>
                <img
                aria-hidden="true"
                decoding="async"
                src="/assets/svgs/service2.svg"
                alt="appliance"
                width="48"
                height="48" />
            </picture>
            <h2>Remote</h2>
            <p>Currently teaching Japanese as a private tutor. Capable of most generic remote tasks.</p>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/ambient-beach-m.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/ambient-beach.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/ambient-beach.jpg" alt="cabinets" loading="lazy" width="400" height="563">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/kami-higher.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/kami-higher.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/kami-higher.jpg" alt="house" loading="lazy" width="400" height="563">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">About Us</span>
                <h2 class="cs-title">About Company Title</h2>
                <p class="cs-text">
                    Favorite ice cream flavor is black sesame. 
                </p>
                <p class="cs-text">
                    Pursuing structured, intuitive pages and components, and a clean aesthetic, all hand-coded, no page builders. We focus on the website so you can focus on what you want to spend your time on.
                </p>
                <div class="cs-flex-group">
                    <p class="cs-flex-p">
                        Born and raised in LA, hobbies include music, movies, and moving around. Started to read about Buddhism in his own time.
                    </p>
                    <span class="cs-name">Sean Fujiwara</span>
                    <span class="cs-job">CEO-Founder</span>
                    <img 
                    class="cs-quote-icon"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg"
                    alt="gavel"
                    width="136"
                    height="77" />
                </div>
                <a href="/about" class="cs-button-solid">More About Us</a>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--            Extra Content To Rank             -->
    <!-- ============================================ -->

    <section id="sbs-r">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/kami-higher.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/kami-higher.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/kami-higher.jpg" alt="house" loading="lazy" width="400" height="560">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/ambient-beach-m.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/ambient-beach.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/ambient-beach.jpg" alt="cabinets" loading="lazy" width="400" height="560">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">What we Offer</span>
                <h2 class="cs-title">Personal/business website, portfolio, blog</h2>
                <p class="cs-text">
                    This would be a great place to enter more keywords for SEO (search engine optimization) and increase traffic! Gotta catch 'em all.
                </p>
                <p class="cs-text">
                    Like the website so far? Please, explore the website for all of the different pages and functions! Interactability is another aspect of web applications that we aim to excel at, as we believe responsive interactability adds to the user's overall experience.
                </p>
                <a href="/blog" class="cs-button-solid">Read our Blog</a>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                   Gallery                    -->
    <!-- ============================================ -->

    <section id="gallery">
        <div class="cs-container">
            <span class="cs-topper">Our Portfolio</span>
            <h2 class="cs-title">Just some pretty pictures :)</h2>
            <div class="cs-image-group">
                <!-- Row 1-->
                <div class="cs-row cs-row-1">
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port1-ootorii-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port1-ootorii.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port1-ootorii.jpg" alt="Miyajima Ootorii" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port4-cave-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port4-cave.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port4-cave.jpg" alt="cave with light" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port7-sunset-star-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port7-sunset-star.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port7-sunset-star.jpg" alt="sunset stars" loading="lazy" width="400" height="560">
                    </picture>
                </div>
                <!-- Row 2 -->
                <div class="cs-row cs-row-2">
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port2-pastel-sky-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port2-pastel-sky.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port2-pastel-sky.jpg" alt="pastel sky" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port5-buddha-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port5-buddha.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port5-buddha.jpg" alt="Kamakura Buddha" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port8-valley-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port8-valley.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port8-valley.jpg" alt="valley with mountains and water" loading="lazy" width="400" height="560">
                    </picture>
                </div>
                <!-- Row 3 -->
                <div class="cs-row cs-row-3">
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port3-water-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port3-water.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port3-water.jpg" alt="water drop" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port6-shooting-star-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port6-shooting-star.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port6-shooting-star.jpg" alt="shooting star" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port9-ancestral-plane-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port9-ancestral-plane.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port9-ancestral-plane.jpg" alt="ancestral plane" loading="lazy" width="400" height="560">
                    </picture>

                </div>
            </div>
            <a href="/projects" class="cs-button-solid">View Full Gallery</a>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                   Reviews                    -->
    <!-- ============================================ -->

    <section id="reviews">
        <div class="cs-container">
            <span class="cs-topper">Our Reviews</span>
            <h2 class="cs-title">Words From Our Customers</h2>
            <p class="cs-text">
                Some reviews can be great here. Any of the sections, any componenets, colors, can all be changed. 
            </p>
            <ul class="cs-card-group">
                <!-- Review 1 -->
                <li class="cs-item">
                    <img
                    class="cs-item-img"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile5.png"
                    alt="profile picture"
                    width="80"
                    height="80" />
                    <p class="cs-item-p">
                        Shon's great he has a gerat smile. He's nice and all but he thinks he's a little funny, I say meh. Services are great though! I love the interactability of the webpages. My favorite movie is RRR, and we definitely had nice conversations talking about that.
                    </p>
                    <span class="cs-reviewer">
                        Jon Doe
                        <span class="cs-desc">Homeowner of a galaxy</span>
                    </span>
                    <img
                    class="cs-item-stars"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg"
                    alt="stars"
                    width="96"
                    height="16" />
                </li>
                <!-- Review 2 -->
                <li class="cs-item">
                    <img
                    class="cs-item-img"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile-4.png"
                    alt="profile picture"
                    width="80"
                    height="80" />
                    <p class="cs-item-p">
                        I am not real, but I am not a bot. What am I? What is consciousness? ... . . I love the intuitive design of the website and the pages. They're so easy to use! The websites are also designed to be fully functional and responsive for all device sizes, supporting mobile, tablet, and desktop screen sizes. 
                    </p>
                    <span class="cs-reviewer">
                        Jane Doe
                        <span class="cs-desc">Immortal</span>
                    </span>
                    <img
                    class="cs-item-stars"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg"
                    alt="stars"
                    width="96"
                    height="16" />
                </li>
            </ul>
            <a aria-label="read more reviews" href="/reviews" class="cs-button-solid">Our Reviews</a>
        </div>
    </section>

    {% include 'components/cta.html' %}
{% endblock %}